.navbar {
  height: 100px;
  width: 100%;
  background-color: rgba(0,0,0,.6);
  display: flex;
  justify-content: center;
  margin: 0;
}

.logoSection {
  width: 150px;
}

.logo {
  font-size: 50px;
}

.navBtnSection {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
}

.navBtn {
  background-color: lightgray;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBtnActual {
  height: 50px;
  width: 100px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
