<div class="cmaClassPage">
  <div class="content">
    <div class="classInfo">Sign up for a CMA class today!</div>
    <div class="signUpForm">
      <div class="signUpFormSec">
        <div>
          <div>First Name:</div>
          <input id="first-name">
        </div>
        <div>
          <div>Last Name:</div>
          <input id="last-name">
        </div>
      </div>
      <div class="signUpFormSec">
        <div>
          <div>Email:</div>
          <input id="email-address">
        </div>
      </div>
      <div class="signUpFormSec">
        <div>
            <div>Phone Number:</div>
            <input id="phone-number">
        </div>
      </div>
    </div>
  </div>
</div>
