@import url('https://fonts.googleapis.com/css?family=Diplomata+SC|Marcellus');

*:focus {
  outline: 0;
  outline: none;
  }

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.container {
  height: 100%;
  width: 100%;
  background-image: url("app/media-items/background.jpg");
  background-size: cover;
  position: fixed;
  overflow: auto;
  min-width: 1050px;
  min-height: 600px;
}